<mat-card>
  <mat-card-header>
    <h1>Welcome To EZP</h1>
  </mat-card-header>
  <mat-card-content>

    <ul>
      <li><b>AWP01 Group:</b></li>
      <ul>
        <li>Hoang Tu Phuong</li>
        <li>Nguyen Van Huy Dung</li>
        <li>Vo Bui Tri Nhan</li>
      </ul>
      <li><b>GitHub:</b> <a href="https://github.com/HuyDung272/awp01" target="_blank">Project Repository</a></li>
      <li><b>This project uses the MEAN stack:</b></li>
      <ul>
          <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com"
            target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 6</a></li>
      </ul>
    </ul>

  </mat-card-content>
</mat-card>
